.box-img-class {
    background-color: #aaa;
    height: 180px;
}

.img-course {
    width: 80px;
    /* height: 100%; */
}

.add-image-course {
    width: 100px;
}

.bg-abu {
    background-color: #aaa;
}
